@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #000;
  font-family: "Roboto Mono", monospace;
  color: #18dcff;
}

.container {
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

.avatar-pic{
  animation: animate 5s infinite;
}

.image-container {
  text-align: center;
  width: 100%;
}
.headline {
  display: flex;
  flex-direction: column;
  margin: 10px 0 30px 0;
  font-family: "Source Code Pro", monospace;
}
.headline a {
  color: #18dcff;
  text-decoration: none;
  font-size: 20px;
}
.website_btn {
  background-color: #0161ff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 200px;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
}
.website_btn:hover {
  background-color: #00a7fa;
  color: #000;
  transition: 0.5s;
}
.links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.links-container a i {
  color: #3ae374;
  font-size: 25px;
}
.links-container a:hover {
  transform: rotate(360deg);
  transition: 1s;
}

.footer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Source Code Pro", monospace;
}

.my-svg{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  min-height: 300px;
  background-color: #3ae374;
  filter: blur(120px);
  z-index: -1;
}

/* animation */
@keyframes animate {
  0%, 100% {
    box-shadow: 0 0 2px #18dcff;
  }
  50% {
    box-shadow: 0 0 50px #18dcff;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .link {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 992px) {
  .footer {
    flex-direction: column;
  }
}
